* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Img/castle.jpg");
    height: 100vh;
  
}

h1 {
    color: rgb(237, 103, 241);
    font-style: italic;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}